 .u-section-1 {
   background-image: url("src/webSrc/gallery.jpg");
   background-position: 50% 50%;
 }

 .u-section-1 .u-sheet-1 {
   min-height: 100vh;
 }

 .vid {
   margin-top: 13vh;
 }

 .u-section-1 .u-gallery-1 {
   height: 375px;
   margin-top: 60px;
   margin-bottom: 60px;
 }

 .u-section-1 .u-gallery-inner-1 {
   grid-template-columns: auto auto auto;
 }

 .u-section-1 .u-gallery-item-1 {
   margin-right: 10px;
 }

 .u-section-1 .u-back-image-1 {
   width: 240px;
   left: -50px;
 }

 .u-section-1 .u-over-slide-1 {
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   padding: 20px;
 }


 .u-section-1 .u-gallery-nav-1 {
   position: absolute;
   left: 10px;
   width: 40px;
   height: 40px;
 }

 .u-section-1 .u-gallery-nav-2 {
   position: absolute;
   right: 10px;
   width: 40px;
   height: 40px;
 }

 @media (max-width: 767px) {
   .u-section-1 {
     background-position: 23.75% 100%;
     background-size: auto 110%;
   }
 }

 @media (max-width: 575px) {
   .u-section-1 {
     background-position: 25.54% 64.76%;
     background-size: auto 125%;
   }
 }