 .u-section-1 {
  background-image: url("images/pexels-photo-5681439.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-form-1 {
  height: 203px;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  width: 517px;
  margin: 299px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 470px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.logo{
 border:20 px color white
}