.u-block-cc47-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-cc47-3 {
  position: absolute;
  left: 0;
}

.u-block-cc47-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: url("images/660995bc8e88caa80f8d6e2e8ee31ae6329429e9a3bcf0cc4a9f85f9c2a8fb631b1d9604a990d208216a57ea1e6c25f92e5c6698872da7b9fa9f57_1280.jpg");
}

.u-section-1-1 .u-sheet-1 {
  min-height: 796px;
}

.u-section-1-1 .u-text-1 {
  text-align: left;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  width: 389px;
  margin: 162px auto 0;
}

.u-section-1-1 .u-video-1 {
  width: 318px;
  height: 278px;
  margin: 47px auto 0;
}

.u-section-1-1 .u-image-1 {
  width: 201px;
  height: 262px;
  margin: -13px auto 0 0;
}

.u-section-1-1 .u-text-2 {
  background-image: none;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  font-style: normal;
  margin: -165px 0 60px 201px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-top: -184px;
    margin-left: 311px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-text-1 {
    margin-top: 176px;
  }

  .u-section-1-1 .u-video-1 {
    margin-top: 32px;
  }

  .u-section-1-1 .u-image-1 {
    width: 215px;
    height: 252px;
    margin-top: 4px;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: -205px;
    margin-bottom: 47px;
    margin-left: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 120px;
  }

  .u-section-1-1 .u-video-1 {
    margin-top: 92px;
  }

  .u-section-1-1 .u-image-1 {
    width: 178px;
    height: 208px;
    margin-top: 38px;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: -173px;
    margin-bottom: 30px;
    margin-left: 178px;
  }
}

@media (max-width: 575px) {
   .u-section-1-1 {
    background-position: 33.42% 50%;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-top: 133px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-video-1 {
    height: 284px;
    margin-top: 91px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-1 .u-image-1 {
    width: 170px;
    height: 170px;
    margin-top: 65px;
  }

  .u-section-1-1 .u-text-2 {
    text-align: left;
    font-style: italic;
    margin-top: -134px;
    margin-bottom: 57px;
    margin-left: 170px;
  }
}

 .u-section-1-2 {
  background-image: url("images/660995bc8e88caa80f8d6e2e8ee31ae6329429e9a3bcf0cc4a9f85f9c2a8fb631b1d9604a990d208216a57ea1e6c25f92e5c6698872da7b9fa9f57_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-video-1 {
  width: 318px;
  height: 278px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
   .u-section-1-2 {
    background-position: 33.42% 50%;
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1-2 .u-video-1 {
    margin-top: 279px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

 .u-section-1-3 {
  background-image: url("images/660995bc8e88caa80f8d6e2e8ee31ae6329429e9a3bcf0cc4a9f85f9c2a8fb631b1d9604a990d208216a57ea1e6c25f92e5c6698872da7b9fa9f57_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-3 .u-video-1 {
  width: 318px;
  height: 278px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
   .u-section-1-3 {
    background-position: 33.42% 50%;
  }

  .u-section-1-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1-3 .u-video-1 {
    margin-top: 279px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

 .u-section-1-4 {
  background-image: url("images/660995bc8e88caa80f8d6e2e8ee31ae6329429e9a3bcf0cc4a9f85f9c2a8fb631b1d9604a990d208216a57ea1e6c25f92e5c6698872da7b9fa9f57_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-4 .u-video-1 {
  width: 318px;
  height: 278px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
   .u-section-1-4 {
    background-position: 33.42% 50%;
  }

  .u-section-1-4 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1-4 .u-video-1 {
    margin-top: 279px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

 .u-section-1-5 {
  background-image: url("images/660995bc8e88caa80f8d6e2e8ee31ae6329429e9a3bcf0cc4a9f85f9c2a8fb631b1d9604a990d208216a57ea1e6c25f92e5c6698872da7b9fa9f57_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-5 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-5 .u-video-1 {
  width: 318px;
  height: 278px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
   .u-section-1-5 {
    background-position: 33.42% 50%;
  }

  .u-section-1-5 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1-5 .u-video-1 {
    margin-top: 279px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

 .u-section-1-6 {
  background-image: url("images/660995bc8e88caa80f8d6e2e8ee31ae6329429e9a3bcf0cc4a9f85f9c2a8fb631b1d9604a990d208216a57ea1e6c25f92e5c6698872da7b9fa9f57_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-6 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-6 .u-video-1 {
  width: 318px;
  height: 278px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
   .u-section-1-6 {
    background-position: 33.42% 50%;
  }

  .u-section-1-6 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1-6 .u-video-1 {
    margin-top: 279px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

 .u-section-1-7 {
  background-image: url("images/660995bc8e88caa80f8d6e2e8ee31ae6329429e9a3bcf0cc4a9f85f9c2a8fb631b1d9604a990d208216a57ea1e6c25f92e5c6698872da7b9fa9f57_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-7 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-7 .u-video-1 {
  width: 318px;
  height: 278px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-7 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
   .u-section-1-7 {
    background-position: 33.42% 50%;
  }

  .u-section-1-7 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1-7 .u-video-1 {
    margin-top: 279px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

 .u-section-1-8 {
  background-image: url("images/660995bc8e88caa80f8d6e2e8ee31ae6329429e9a3bcf0cc4a9f85f9c2a8fb631b1d9604a990d208216a57ea1e6c25f92e5c6698872da7b9fa9f57_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-8 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-8 .u-video-1 {
  width: 318px;
  height: 278px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-8 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-8 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-8 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
   .u-section-1-8 {
    background-position: 33.42% 50%;
  }

  .u-section-1-8 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1-8 .u-video-1 {
    margin-top: 279px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

 .u-section-1-9 {
  background-image: url("images/660995bc8e88caa80f8d6e2e8ee31ae6329429e9a3bcf0cc4a9f85f9c2a8fb631b1d9604a990d208216a57ea1e6c25f92e5c6698872da7b9fa9f57_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-9 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-9 .u-video-1 {
  width: 318px;
  height: 278px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-9 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-9 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-9 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
   .u-section-1-9 {
    background-position: 33.42% 50%;
  }

  .u-section-1-9 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1-9 .u-video-1 {
    margin-top: 279px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

 .u-section-1-10 {
  background-image: url("images/660995bc8e88caa80f8d6e2e8ee31ae6329429e9a3bcf0cc4a9f85f9c2a8fb631b1d9604a990d208216a57ea1e6c25f92e5c6698872da7b9fa9f57_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-10 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-10 .u-video-1 {
  width: 318px;
  height: 278px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-10 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-10 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-10 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
   .u-section-1-10 {
    background-position: 33.42% 50%;
  }

  .u-section-1-10 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1-10 .u-video-1 {
    margin-top: 279px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

 .u-section-1-11 {
  background-image: url("images/660995bc8e88caa80f8d6e2e8ee31ae6329429e9a3bcf0cc4a9f85f9c2a8fb631b1d9604a990d208216a57ea1e6c25f92e5c6698872da7b9fa9f57_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-11 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-11 .u-video-1 {
  width: 318px;
  height: 278px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-11 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-11 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-11 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
   .u-section-1-11 {
    background-position: 33.42% 50%;
  }

  .u-section-1-11 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1-11 .u-video-1 {
    margin-top: 279px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

 .u-section-1-12 {
  background-image: url("images/660995bc8e88caa80f8d6e2e8ee31ae6329429e9a3bcf0cc4a9f85f9c2a8fb631b1d9604a990d208216a57ea1e6c25f92e5c6698872da7b9fa9f57_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1-12 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-12 .u-video-1 {
  width: 318px;
  height: 278px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1-12 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-12 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-12 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
   .u-section-1-12 {
    background-position: 33.42% 50%;
  }

  .u-section-1-12 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1-12 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}